@media only screen and (max-width: 900px) {
	.person img{
		display: none;
	}
	figure img{
		height: 100px;
		width: 100px;
	}
	.col{
		flex-direction: column;
		width: 100%;

	}
	.hero{
		height: 800px;
	}
	.element{
		padding: 0;
	}
	.tech{
		display: none;
	}
	#port{
		display: none;
	}
	.element img{
		  width: 100px;
  		  height: 100px;
	}
	.inside-portfolio{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 750px){
	.testimonial{
		display: none;
	}
}