/*_______________Main color: #20944B; _____________*/

.click{
    position: absolute;
    left: 32%;
    right: auto;
}
body{
  background-color: grey;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #F1EDEE;
 /* background-image: url(img/wallpaper.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero{
  height: 80vh;
  display: flex;
  flex-direction: column;
}

figure img{
  margin-top: -18%;
  margin-left: 4%;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 10px solid rgba(62, 62, 62, 0.97);
}
header{
  background-color: rgba(62, 62, 62, 62);
  margin: 100px auto;
  max-width: 80%;
  height: 10%;
  border-radius: 4px;
}
.logo{
  text-align: right;
}
.logo a{
  display: inline-block;
  padding: 1%;
  font-size: 70px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.logo i:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.box {

  color: #F1EDEE;
  background-color: teal;

  text-align: center;
  letter-spacing: 2px;
}
.buttons{
    margin-top: 2% ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.buttons{
  display: flex;
  justify-content: space-around;
    width: 100%;
}
.col{
  /* #539987   #32E875  #3D5467;*/
  letter-spacing: 1px;
  background-color: teal;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}
a{
  text-decoration: none;
  color:#F1EDEE;
}
.col:hover,
.col:active{
  color: #3D5467;
  background-color: white;
}


/*---------Testimonials-------*/
.port{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0;    
}

.testimonial{
max-width: 25%;
margin-top: 2%;
}
.testimonial img{
  border-radius: 50%;
  width: 60px;
  height:60px;
  float: left;
  padding: 5px;
}



/*---------Testimonials-------*/

/*--------Portfolio-----------*/
.portfolio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color:rgb(62, 62, 62);
    background-color: white;
    height: 100vh;
}
.tech i{
  font-size: 85px;
  color: teal;
}
#port{
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
  width: 200px;
  letter-spacing: 1px;
  border-bottom: 2px solid green;
  margin-bottom: 0;
}
.element img{
  width: 170px;
  height: 170px;
}
.element:hover{
  color:teal;
}
.element i{
  font-size: 40px;
}
.inside-portfolio{
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

}
.element{
  padding-right: 50px;
  padding-left: 50px;
}
.tech i{
  padding-right: 30%;
  padding-left: 30%;

}
.tech{
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}
h5{
  color: black;
}


/*--------Portfolio-----------*/

/*--------Certificates-----------*/
.certificates{
  z-index: 0;
  background-color: rgb(62, 62, 62);
  height: 100vh;
}
#cert{
  margin:0 auto;
}
.all-certificates img{
  width: 200px;
  height:300px;
  margin-left: 100px;
  padding: 3px;
}
.all-certificates{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  z-index: 0;
  margin-top: 15%;
}
.hidden #img{
  left: 27%;
  top: 15%;
  max-height: 80%;
  max-width:800px;
  position: fixed;
}
.hidden{
  padding-top: 100px; /* Location of the box */
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.hidden i{
  position: fixed;
  right: 250px;
  top: 120px;
  font-size: 40px;
  color: black;
  z-index: 2;
}
#more{
  right: 300px;
}
.mit:hover{
  opacity:0.9;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2)
}
.hidden img, #caption { 
    -webkit-animation-name: zoom; 
            animation-name: zoom;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
}
.certificates p{
  display: inline-block;
  margin-left: 100px;
}


/*____________Nav________________*/



/*____________Nav________________*/

/*____________Contact________________*/

.contact{
  height: 400px;
  color:#20944B;
}



/*____________Contact________________*/

/*____________Footer________________*/
footer{
  height: 50vh;
  background-color: #333;

}
.footer{
  display: block;
  padding: 10px;
}


.a{
    margin: 200px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: 4px solid teal;
    -webkit-animation-name: earth;
            animation-name: earth;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes earth{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes earth{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}